.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* use full viewport */
  margin: 0;
  padding: 0;
}

.splash-animation-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-title-container {
  font-size: 2.5rem;
  text-decoration: none;
  text-align: center; /* Center the text */
  width: 100%;        /* Make it full width */
}

.splash-title {
  font-family: "Agustina Regular", cursive;
  font-weight: bold;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
  padding: 0 20px;
  text-align: center;

}

.splash-logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}
