@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $textSecondaryLight;
}

.footer-text-dark {
  color: $textSecondaryDark;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.footer-div {
  margin-top: auto;
  padding-bottom: 1rem;
}
